@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'SUIT-Regular';
}
#container {
    width: 1300px;
    height: 100%;
    margin: 0 auto;
}
a {
    color: black;
    text-decoration: none;
}

header {
    width: 1300px;
    height: 100px;
    margin-bottom: 100px;
    background-color: rgb(255, 242, 128);
    position: fixed;
}
#logo-box {
    width: 100px;
    height: 100px;
    float: left;
}
#hd-main-logo {
    width: 100px;
    height: 100px;
    float: left;
}
#search {
    /* 나중에 검색창 삽입을 위해 500px로 변경 */
    width: 100px;
    height: 100px;
    margin-left: 50px;
    position : absolute;
    left: 100px;
}
#search-box {
    width: 70px;
    height: 70px;
    float: left;
    background-color: #ffcb3d;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 15px
    
}
#search-icon {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}
#input-search{
    width: 300px;
    height: 50px;
    position: absolute;
    top: 23px;
    left: 85px;
    display: none;
}
#id-category{
    width: 456px;
    height: 100px;
    float: left;
    margin-top: 10px;
    margin-left: 300px;
}
.category {
    width: 120px;
    height: 50px;
    float: left;
    background-color: rgb(255, 242, 128);
    margin: 16px;
    text-align: center;
    font-weight: bold;
    font-size: 1.8em;
    border-radius: 5px;
    line-height: 1.9;
}
#more-list {
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 0;
    transition: opacity 1s ease;
}
#more-list.active {
    opacity: 1;
    transition: opacity 1s ease;
}
ul {
    list-style-type: none;
}
li {
    text-align: left;
}
#more-menu {
    opacity: 0;
    transition: opacity 1s ease;
    background-color: white;
    width: 100%;
    border: 1px solid #222;
    border-radius: 5px;
}
#more-menu.active {
    opacity: 1;
    transition: opacity 1s ease;
}
#more-list li {
    font-size: 1.0em;
    padding-left: 5px;
}
#user-login {
    width: 370px;
    height: 100px;
    float: left;
    /* margin-top: 10px; */
    margin-left: 70px;
}
#user-profile{ 
    width: 90px;
    height: 90px;
    margin-top: 5px;
    margin-right: 10px;
    border: 2px solid #7e7e7e;
    background-color: white;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
#user-nick-logout{
    width: 100px;
    height: 100px;
    float: left;
    text-align: center;
}
#user-info{
    width: 100%;
    height: 40%;
    font-weight: bold;
    line-height: 2.3;
    border: 1px solid #7e7e7e;
    border-radius: 5px;
    background-color: #fff;
    margin: 5px 0;
}
#logout {
    width: 100%;
    height: 40%;
    font-weight: bold;
    line-height: 2.3;
    border: 1px solid #7e7e7e;
    border-radius: 30px;
    background-color: #ffcb3d;
    margin: 10px 0 5px 0;
}
#user-alarm {
    width: 100px;
    height: 100%;
    float: left;
    text-align: center;
    margin: 10px 0 10px 50px;
}




main {
    width: 1300px;
    height: 1040px;
}
#user-info-menu {
    width: 550px;
    height: 100%;
    margin-top: 100px;
    float: left;
}
#info-menu{
    width: 490px;
    height: 93%;
    margin: 30px;
    border: 2px solid #7e7e7e;
    background-color: #fdecbb;
}
#profile-img-box {
    width: 100%;
    height: 150px;
}
#profile-img {
    margin: 20px;
    float: left;
}
#info-edit{
    text-align: center;
    margin-top: 25px;
    margin-left: 20px;
    float: left;
}
#info-edit>p {
    font-size: 1.8em;
    font-weight: bold;
}
#info-edit-btn {
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 10px;
    background-color: #ffcb3d;
    border: 1px solid #7e7e7e;
    border-radius: 5px;
    padding: 10px 20px;
}
#line {
    width: 460px;
    margin-left: 15px;
    height: 1px;
    border: 1px solid #7e7e7e;
}
#user-edit-list {
    width: 490px;
    height: 80%;
}
#user-edit-list>ul {
    list-style-type: disc;
    margin-left: 50px;
}
#user-edit-list li {
    font-size: 2em;
    font-weight: bold;
    line-height: 3;
}
#user-info-edit-box {
    width: 750px;
    height: 100%;
    margin-top: 100px;
    float: left;
}
#user-shop {
    width: 690px;
    height: 93%;
    border: 2px solid #7e7e7e;
    background-color: #fdecbb;
    margin: 30px;
}
.title-box {
    width: 500px;
    height: 50px;
    /* color: #fff; */
    background-color: #ffcb3d;
    border: 1px solid black;
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
    line-height: 2.9;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 95px;
}
.font {
    font-size: 1.5em;
    font-weight: bold;
}
.box-div {
    width: 300px;
    height: 50px;
    margin-left: 195px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#font-div, #review1, #review2{
    margin-bottom: 30px;
}
#font-size-box {
    width: 80px;
}
#language {
    width: 100px;
}
.ok-btn {
    width: 50px;
    margin-right: 5px;
    border: 1px solid #7e7e7e;
    background-color: #ffcb3d;
}
#event-div {
    width: 300px;
    height: 50px;
    margin-left: 195px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#userQuit-box {
    width: 400px;
    height: 200px;
    margin-left: 145px;
}
#p-pw {
    margin-left: 10px;
}
#quit-pw {
    width: 280px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
}
#quit-btn {
    width: 60px;
    height: 40px;
    margin-left: 30px;
    font-weight: bold;
    border: 1px solid #222;
    color: #fff;
    background-color: crimson;
}
#quit-terms {
    font-weight: bold;
    margin-top: 20px;
}
#aTag {
    color: blue;
}




footer {
    width: 100%;
    height: 100px;
    margin-top: 100px;
    border-top: 2px solid #222;
}
#footer-nav-info a{
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
}
#footer-nav {
    margin-left: 55px;
}
#footer-nav-info li {
    color: #7e7e7e;
    float: left;
    margin-top: 10px;
    padding: 5px 20px;
    border-right: 1px solid #ddd;
}
#footer-nav-info li:last-child {
    border: none;
}